# Ignore local config with secrets
# config.js is generated at build time and should be available in deployments.
# If it contains secrets, use env vars instead and do not commit them.

# macOS
.DS_Store
._*

# Node
node_modules/

# VS Code
.vscode/

# Build / dist
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env*
